<div style="border-radius: 20px;text-align: center;">
    <b>Peliculas a comprar <h5><b style="color: rgb(3, 0, 14);">{{cantp}}</b></h5></b></div>
    <div class="cont" style="background-color: #f8d7da;border-color: #f5c2c7;">
<table class="table table-bordered" style="color: rgb(2, 2, 2);">

    
    <tbody style="border-bottom: 1px solid rgb(7, 5, 5)">
        {% if request.session.carro.items %}
            {% for key,value in request.session.carro.items %}
                <tr class="text-center">
                    <td>{{value.nombre}}</td>
                    <td> 
                        {% if pag_actual %}
                        {{value.precio}} <a href="{% url 'eliminar' value.producto_id pag_actual ini %}" class="btn btn-outline-danger">x</a>
                        {% else %}
                        {{value.precio}} <a href="{% url 'eliminar' value.producto_id 1 ini %}" class="btn btn-outline-danger" style="padding: 0.01em;">x</a>
                        {% endif %}
                    </td>
                  



                </tr>
            {% endfor %}

            
            {% if total_carro < 199 %}
            <tr class="text-center">
                <td>Memoria USB</td>
                <td>150</td>
            </tr>
            {% endif %}
        {% else %}
        <tr>
            <td>
                <div class="alert alert-danger text-center">
                    Sin peliculas a comprar
                </div>
            </td>
        </tr>


        {% endif %}
    </tbody>


</table> </div>
{% if request.user.is_authenticated %}
<div style="background-color: #68e993;text-align: center;border-top-left-radius: 40px 80px;border-bottom-right-radius: 40px 80px;">
    TOTAL: {{total_carro}} Pesos
    
<br>

<a href="{% url 'hist' total_carro %}" class="btn btn-success" style="border-radius: 20px">Comprar</a></div>
{% else %}
<div style="background-color: #68e993;text-align: center;border-top-left-radius: 40px 80px;border-bottom-right-radius: 40px 80px;">
   <br> <h5 style="color: rgb(139, 0, 0);margin: 2px;"><b>Inicié sesión para comprar</b></h5>
    

<div  >
<a class="btn btn-success" href="/login/"  style="border-radius: 20px">Iniciar sesión</a></div></div>
{% endif %}

    